body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:black ;
}

/*..........header style..........*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
}
li, a, h1, #signin {
    font-family:"Montserrat", sans-serif;
    font-weight: 300 ;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 5px;
}

h1 {
    padding-left: 150px;
    font-size: 42px;
}
.nav-links li a:hover {
    color: #00b0f0;
}
#signin {
    border-color: #00b0f0;
    padding: 9px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    font-family:"Montserrat", sans-serif;
}
#signin:hover {
    background:#00b0f0;
}
.blue-bar {
    background-color:#00b0f0 ;
    width: 100%;
    height: 5px;
}
.pink-bar {
    background-color:#F349A6;
    width: 100%;
    height: 5px;
}
#sub-title {
    color: #edf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"Montserrat", sans-serif;
    font-weight:300;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

#blue-embryo {
    margin: 0;
}

  /*............main body..............*/

.body-text {
    color: #edf0f1;
    font-size: 30px;
    font-family:"Montserrat", sans-serif;
    margin-bottom: 40px;
}

.signup {
    border-color:#F349A6;
    color: #edf0f1;
    padding: 9px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    font-family:"Montserrat", sans-serif;
}

.signup:hover {
    background: #F349A6;
}

#holding-hands {
    height:30vh;
    width: 100%;
    margin-bottom: 100px;
}

#link-icon-lrg {
    color: #edf0f1;
    font-size: 60px;
    margin-bottom: 60px;
}

/*..........Premium section........*/

.premiun-section {
    background-color: #edf0f1;
    width: 100%;
    height: 40px;
}

#premium-intro-txt {
    color:black;
    background-color: #edf0f1;
    margin-top: 80px;
    margin-bottom:80px;
}

.grey-block-bkgr {
    background-color:#edf0f1;
    width: 100%;
    height: 400px;
}

.premium-btn {
    border-color:#F349A6;
    color:black;
    padding: 9px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    font-family:"Montserrat", sans-serif;
    margin-top: 20px;
}

.premium-btn:hover {
    background:#00b0f0;
}