* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:black ;
  }

  /* header style */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
  }

  li, a, h1, #signin {
    font-family:"Montserrat", sans-serif;
    font-weight: 300 ;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

  .nav-links li {
    display: inline-block;
    padding: 0px 5px;
  }

  h1 {
    padding-left: 150px;
    font-size: 42px;
  }